EMAIL_ADDRESS=mail@gmail.com
EMAIL_PASSWORD=password from https://myaccount.google.com/apppasswords
LINODE_TOKEN=linode token from https://cloud.linode.com/profile/tokens
KEY_FILENAME=/Users/username/.ssh/id_ed25519